
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 10%;
  }

  /* span{
    margin-left: 90%;
  } */
  .rightmid{
    display: block;
    margin-left: 69%;
    width: 1%;
    /* margin-right: auto; */
    margin-top: -3%;
    /* margin-bottom: auto; */
  }
  h3{
    text-align: center;
  }
  h5{
    margin-left: 6%;
    margin-top:12%;
  }
  #sp1{
    margin-left: 80%;
    margin-top:5%
  }
  #sp2{
    margin-left:89%;
    margin-top:10%;
  }
  